.card__counter-likes {
    margin-top: 2px;
    margin-left: auto;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #000000;
}