.header {
    max-width: 100%;

    margin: 0;
    padding-bottom: 41px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom-color:  #545454;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .header {
        padding-bottom: 32px;
    }
}


